<main class="main">
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-header">
      Register
    </div>
    <div class="form-body">
      <input type="text" name="name" placeholder="name" formControlName="name">
      <input type="text" name="email" placeholder="email" formControlName="email">
      <input type="password" name="password" placeholder="password" formControlName="password">
    </div>
    <div class="form-footer">
      <button type="submit" [disabled]="!registerForm.valid">Join</button>
      <div class="form-alert">
        <div *ngIf="isRegisterFailed">{{ errorMessage }}</div>
      </div>
    </div>
  </form>
</main>