<header>
  <app-ticker-tape></app-ticker-tape>
  <app-navbar></app-navbar>
</header>
<main>
  <div class="dashboard">
    <div class="account" *ngIf="isLoggedIn">
      <div class="title">Welcome {{user?.name}}!</div>
      <div class="action-btns"><button (click)="logout()">Log Out</button></div>
    </div>
    <div class="account" *ngIf="!isLoggedIn">
      <div class="title">Register an account or Log in to see this page.</div>
      <div class="action-btns">
        <button [routerLink]="['/register']">Register</button>
        <button [routerLink]="['/login']">Log In</button>
      </div>
    </div>
    <div *ngIf="isLoggedIn">
      <app-watchlists></app-watchlists>
    </div>
  </div>
</main>

