.watchlists {
  width: 250px;
  border: 1px solid var(--primary-dark);
  border-radius: 2px;
}

.watchlists .header {
  padding: 15px;
  border-bottom: 1px solid var(--primary-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watchlists .title {
  font-weight: 550;
}

.watchlists .add-btn {
  cursor: pointer;
}

.watchlists .add-btn:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.watchlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-top: 1px solid var(--primary-dark);
  cursor: pointer;
}

.watchlist-header:hover {
  background-color: var(--background-alternate);
}

.watchlist-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.watchlist-content li {
  padding: 10px 15px;
  cursor: pointer;
}

.watchlist-content li:hover {
  background-color: var(--background-alternate);
}

.watchlist-content .alert {
  font-size: var(--font-xs);
  color: var(--text-secondary);
  pointer-events: none;
}