.watchlists {
  width: 300px;
  border: 1px solid var(--primary-dark);
  border-radius: 2px;
}

.watchlists .header {
  padding: 15px;
  border-bottom: 1px solid var(--primary-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watchlists .title {
  font-weight: 550;
}

.watchlists .add-btn,
.watchlist-content .remove-btn {
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.watchlists .add-btn:hover {
  background-color: var(--secondary-light);
}

.watchlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-top: 1px solid var(--primary-dark);
  cursor: pointer;
}

.watchlist-header:hover {
  background-color: var(--background-alternate);
}

.watchlist-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.watchlist-content li {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.watchlist-content .watchlist-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.watchlist-header .edit-btn {
  padding: 5px;
  border-radius: 6px;
  margin-right: 10px;
}

.watchlist-header .edit-btn,
.watchlist-content .remove-btn {
  visibility: hidden;
}

.watchlist-header .edit-btn:hover,
.watchlist-content .remove-btn:hover {
  background-color: var(--secondary-light);
}

.watchlist-header:hover .edit-btn,
.watchlist-content li:hover .remove-btn {
  visibility: visible;
}

.watchlist-content li:hover {
  background-color: var(--background-alternate);
}

.watchlist-content .alert {
  font-size: var(--font-xs);
  color: var(--text-secondary);
  pointer-events: none;
}