<header>
  <app-navbar></app-navbar>
</header>
<main>
  <div class="account-body">
    <div *ngIf="isLoggedIn">
      <div>
        Welcome {{user?.name}}!
      </div>
      <div>
        <button (click)="logout()">Log Out</button>
      </div>
    </div>
    <div *ngIf="!isLoggedIn">
      <div class="title">Register an account or Log in to see this page.</div>
      <div class="action-btns">
        <button [routerLink]="['/register']">Register</button>
        <button [routerLink]="['/login']">Log In</button>
      </div>
    </div>
    <app-watchlist></app-watchlist>
  </div>
</main>

