main {
  box-sizing: border-box;
  padding: 50px;
}

.stocks-chart {
  height: 200px;
  border: 1px solid var(--primary-dark);
}

.stocks-body {
  box-sizing: border-box;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.stocks-content {
  width: calc(100% - 500px);
}

.stocks-body .header {
  box-sizing: border-box;
  font-size: var(--font-xl);
  padding: 10px 0px;
  border-bottom: 1px solid var(--primary-dark);
  min-width: 200px;
}

.container .description {
  box-sizing: border-box;
  padding: 10px 0px;
  font-size: var(--font-sm);
}

.container .stats {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0px;
}

.container .stats-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 200px;
}

.container .stats-block span:first-child {
  font-size: var(--font-md);
  font-weight: 500;
}

.container .stats-block span:nth-child(2) {
  font-size: var(--font-sm);
}

.container .stats-block a {
  font-size: var(--font-sm);
  cursor: pointer;
}

.stocks-action .watchlist {
  box-sizing: border-box;
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.stocks-action .watchlist-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: calc(100% - 30px);
}

.stocks-action .watchlist-content span:nth-child(2) {
  font-size: var(--font-xs);
  color: var(--text-secondary);
}

.stocks-action .add-btn,
.stocks-action .check-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.stocks-action .add-btn:hover svg,
.stocks-action .check-btn:hover svg {
  fill: var(--primary-dark);
}